<html ng-app="ImdbMovies">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">     
    <title>Ionic Loading</title>
    <link href="http://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="MovieController">
  

    <!-- Card -->    
    <ion-content>
        

    <div class="list">
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter movie name" id="movie-title" ng-model="movieTitle">
          </label>
          <button class="button button-small" ng-click="search()">
            Submit
          </button>
      </div>
    </div>
    <ion-spinner icon="rippal" ng-if="showloader == 'yes'"></ion-spinner>

        <div class="list card" ng-if="searchmovie == 'yes'">

          <div class="item">
            <h2>{{ title }} ({{ imdbRating }})</h2>
            <p>{{ director }}, {{ genre }}, {{ language }}, {{ year }}</p>
            <p>{{ actors }}</p>
          </div>

          <div class="item item-body">
            <img class="" src="{{ poster }}">
            <p>{{ plot }}<p>
            <p>
              <a href="#" class="subdued">{{ votes }} Votes</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              {{ votes }} Votes
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>
      </ion-content>  
    <!-- Card End -->

    
  </body>
</html>